.conway-grid
  display: grid
  align-items: start
  justify-items: start
  grid:
    template-columns: repeat(40, 1rem)
    column-gap: .125rem
    row-gap: .125rem

  &__cell
    height: 1rem
    width: 1rem

    &--deactivated
      background: #999

    &--activated
      background: #f66
