#lingo
  text-align: center

  .message
    background-color: #cce5ff
    border: thin solid #b8daff
    border-radius: .25rem
    color: #004085
    padding: .75rem 1.25rem
    margin: 0 0 .75rem
    line-height: 1.3rem
    height: calc(1.3rem + 2 * (1px + .75rem))

    &--none
      visibility: hidden

    &--success
      background-color: #d4edda
      border-color: #c3e6cb
      color: #155724

    &--error
      background-color: #f8d7da
      border-color: #f5c6cb
      color: #721c24

  table
    border-spacing: 0
    border-collapse: collapse
    margin: auto

  td
    border: thin solid #333
    width: 2.5rem
    line-height: 2.5rem
    height: 2.5rem
    margin: 0
    padding: 0
    text-align: center

    &.correct
      background-color: #393

    &.maybe
      background-color: #ff0

  input
    font-size: 1rem
