@use '../vars';

.page-header {
  padding: 1rem 0 5rem;
  margin: 0 0 2.5rem;
  font-size: 1.5rem;
  color: vars.$theme-foreground-color-2;
  background-color: vars.$theme-color-2;

  @media (width >= 45rem) {
    padding-top: 3rem;
  }

  &__container {
    position: relative;
    width: calc(100% - 1rem);
    max-width: vars.$page-max-width;
    padding: 0 0.5rem;
    margin: 0 auto;

    @media (width >= 35rem) {
      padding: 0 3rem;
    }

    @media (width >= 45rem) {
      padding: 0 5rem;
    }
  }

  &__profile-picture {
    position: absolute;
    right: 1rem;
    bottom: -8rem;
    width: 7.5rem;
    height: 7.5rem;
    clip-path: circle(50% at center);
  }
}
