<nav>
  <ul>
    <slot />
  </ul>
</nav>

<style>
  nav {
    color: var(--theme-foreground-color-1);
    background-color: var(--theme-color-1);
  }

  ul {
    display: flex;
    inline-size: calc(100% - 1rem);
    max-inline-size: var(--page-max-inline-size);
    padding: 0;
    margin-block: 0;
    margin-inline: auto;
    list-style: none;
  }
</style>
