---
type Props = {
  from: string
  to?: string
}

const from = cvDate(Astro.props.from)
const to = Astro.props.to && cvDate(Astro.props.to)

function cvDate(value: string): string {
  const date = new Date(Date.parse(value))

  return date.toLocaleDateString('en', {
    year: 'numeric',
    month: 'short',
  })
}
---

<section class="resume-item">
  <slot name="title" />
  <h3>{from} {to && <>- {to}</>}</h3>
  <div>
    <slot />
  </div>
</section>
