---
layout: tools
title: countdown | ruud.online
---

<h1>Countdown</h1>

<div id="countdown">
  <form v-on:submit="compute">
    <section class="form-section">
      <label for="nr1">Numbers:</label><br>
      <input v-model="numbers[0]" type="number" min="1" max="999" id="nr1" style="width: 4rem" required autofocus>
      <input v-model="numbers[1]" type="number" min="1" max="999" id="nr2" style="width: 4rem" required>
      <input v-model="numbers[2]" type="number" min="1" max="999" id="nr3" style="width: 4rem" required>
      <input v-model="numbers[3]" type="number" min="1" max="999" id="nr4" style="width: 4rem" required>
      <input v-model="numbers[4]" type="number" min="1" max="999" id="nr5" style="width: 4rem" required>
      <input v-model="numbers[5]" type="number" min="1" max="999" id="nr6" style="width: 4rem" required>
    </section>

    <section class="form-section">
      <label for="target">Target:</label><br>
      <input v-model="target" type="number" min="1" max="999" id="target" style="width: 6rem" required>
    </section>

    <button>Go!</button>
  </form>

  <ul v-if="answer">
    <li v-for="line in answer">
      ${line[0]}(${line[1]}, ${line[2]}) &rarr; ${line[3]}
    </li>
  </ul>
</div>

<script type="module">
  import Vue from 'https://dev.jspm.io/vue@latest/dist/vue.esm.browser'

  const operations = {
    add(n1, n2) {
      return n1 + n2
    },
    multiply(n1, n2) {
      return n1 * n2
    },
    subtract(n1, n2) {
      return (n1 > n2) ? (n1 - n2) : (n2 - n1)
    },
    divide(n1, n2) {
      if (n1 > 0 && n2 % n1 === 0) return n2 / n1
      if (n2 > 0 && n1 % n2 === 0) return n1 / n2
      return null
    },
  }

  const app = new Vue({
    el: '#countdown',
    delimiters: ['${', '}'],
    data: {
      numbers: [],
      target: undefined,
      answer: undefined,
    },
    methods: {
      compute(event) {
        event.preventDefault()
        this.answer = solve(+this.target, this.numbers.map(Number))
      },
    },
  })

  function solve(target, numbers) {
    const size = numbers.length
    if (size === 1) return null

    for (let i = 0 ; i < size - 1 ; i += 1) {
      for (let j = i + 1 ; j < size ; j += 1) {
        const n1 = numbers[i]
        const n2 = numbers[j]
        const reduced = numbers.slice(0, i).concat(numbers.slice(i + 1, j)).concat(numbers.slice(j + 1))
        reduced.length += 1

        for (const key in operations) {
          const operation = operations[key]
          const result = operation(n1, n2)

          if (result === null) {
            continue
          }

          const answer = [key, n1, n2, result]

          if (result === target) {
            return [answer]
          }

          reduced[size - 2] = result
          const answers = solve(target, reduced)

          if (answers !== null) {
            answers.unshift(answer)
            return answers
          }
        }
      }
    }

    return null
  }
</script>
