---
layout: tools
title: lingo | ruud.online
---

<div id="lingo">
  <p :class="[ 'message', `message--${ message.type }` ]">
    ${ message.msg }
  </p>

  <table>
    <tr v-for="guess in guesses">
      <td v-for="letter in guess" :class="letter.class">
        ${ letter.value }
      </td>
    </tr>
  </table>

  <form v-on:submit="guess">
    <input
      autocapitalize="off"
      type="text"
      ref="currentGuess"
      autofocus
      v-model="currentGuess"
      :disabled="gameOver"
    >
    <button :disabled="gameOver">Raad</button>
  </form>

  <button v-on:click="init">Reset</button>
</div>

<script>
  const _app = (() => {
    'use strict'

    const NR_LETTERS = 6
    const NR_GUESSES = 6
    let wordList, dictionary

    return new Vue({
      el: '#lingo',
      delimiters: ['${', '}'],
      data: {
        wordToGuess: null,
        guessNumber: 0,
        _currentGuess: '',
        get currentGuess() {
          return this._currentGuess
        },
        set currentGuess(v) {
          this._currentGuess = v.toLowerCase()
        },
        guesses: [],
        gameOver: true,
        message: { type: 'none' },
        correctSoFar: [],
      },
      methods: {
        notify(type, msg) {
          this.message = { type, msg }
        },

        clearNotification() {
          this.message = { type: 'none' }
        },

        async init() {
          if (!wordList) {
            await fillWordList()
          }

          this.clearNotification()
          this.guessNumber = 0
          this.currentGuess = ''

          this.guesses.length = 0
          for (let i = 0 ; i < NR_GUESSES ; i += 1) {
            const letters = []
            for (let j = 0 ; j < NR_LETTERS ; j += 1) {
              letters.push({ value: null, class: '' })
            }
            this.guesses.push(letters)
          }

          this.correctSoFar.length = 0
          for (let i = 0 ; i < NR_LETTERS ; i += 1) {
            this.correctSoFar.push({ value: null, class: '' })
          }

          this.wordToGuess = getRandomWord()
          this.guesses[0][0] = { value: this.wordToGuess[0], class: 'correct' }
          this.correctSoFar[0] = { value: this.wordToGuess[0], class: 'correct' }
          this.gameOver = false
          this.focus()
        },

        guess(event) {
          event.preventDefault()
          if (this.gameOver) return

          this.clearNotification()

          if (!this.currentGuess) {
            this.focus()
            return
          }

          if (!isValidGuess(this.currentGuess)) {
            this.notify('error', 'Geen geldig woord!')
            this.focus()
            return
          }

          const currentGuess = this.currentGuess
          this.currentGuess = ''
          const guess = this.guesses[this.guessNumber]
          const meta = analyse(this.wordToGuess)

          for (let i = 0 ; i < NR_LETTERS ; i += 1) {
            guess[i].value = currentGuess[i]

            if (currentGuess[i] === this.wordToGuess[i]) {
              guess[i].class = 'correct'
              this.correctSoFar[i].value = currentGuess[i]
              this.correctSoFar[i].class = 'correct'
              meta[currentGuess[i]] -= 1
            }
          }

          for (let i = 0 ; i < NR_LETTERS ; i += 1) {
            if (currentGuess[i] !== this.wordToGuess[i] && meta[currentGuess[i]]) {
              guess[i].class = 'maybe'
              meta[currentGuess[i]] -= 1
            }
          }

          if (currentGuess === this.wordToGuess) {
            this.notify('success', 'Correct!')
            this.gameOver = true
            return
          }

          this.guessNumber += 1
          if (this.guessNumber === NR_GUESSES) {
            this.notify('error', `Helaas! Het woord was "${ this.wordToGuess }".`)
            this.gameOver = true
            return
          }

          const nextGuess = this.guesses[this.guessNumber]
          for (let i = 0 ; i < NR_LETTERS ; i += 1) {
            if (this.correctSoFar[i].class) {
              nextGuess[i].value = this.correctSoFar[i].value
              nextGuess[i].class = this.correctSoFar[i].class
            }
          }

          this.focus()
        },

        focus() {
          this.$nextTick(() => this.$refs.currentGuess.focus())
        },
      },
      beforeMount() {
        this.init()
      },
    })

    async function fillWordList() {
      const response = await fetch('/data/woordenlijst.txt')
      const body = await response.text()

      wordList = body.replace(/^[\r\n]+|[\r\n]+$/g, '').split(/[\r\n]+/)
      dictionary = new Set(wordList)
    }

    function getRandomWord() {
      const idx = Math.floor(wordList.length * Math.random())

      return wordList[idx]
    }

    function isValidGuess(word) {
      return dictionary.has(word)
    }

    function analyse(word) {
      return word.split('').reduce((p, v) => {
        if (p[v] == null) p[v] = 0
        p[v] += 1
        return p
      }, {})
    }
  })()
</script>
