<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#474069">

  <title>{{ page.title }}</title>
  {% asset main.sass %}
  {% asset tools.sass %}

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

{% unless page.hide_back_link -%}
  <nav class="tools-nav">
    <a class="index-link" href="/tools/">Back to index</a>
  </nav>
{%- endunless %}
<main class="page-main">{{ content }}</main>

</body>
</html>
